.screening-card {
  margin-top: 20px;
  .question-control {
    margin-bottom: 20px; // Adds space between each question
  }
  .add-question-btn {
    margin-top: 20px;
    width: 100%;
  }
  .next-btn {
    margin-top: 20px;
    width: 100%;
  }
}
