.history-questions {
  padding-top: 20px;
  padding-bottom: 20px;

  .title {
    text-align: center;
    margin-bottom: 20px;
  }

  .section {
    border-bottom: 1px solid #ccc; // Border for each section
    margin-bottom: 10px;
  }

  .MuiAccordion-root {
    margin-bottom: 10px;
    box-shadow: none; // Optional: removes shadow for a flat design if desired

    &:before {
      display: none; // Removes the default MUI accordion line
    }
  }

  .MuiAccordionSummary-root {
    padding: 0; // Adjust padding as needed
  }

  .question-item {
    border: 1px solid #ccc; // Default border
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;

    &.required {
      background-color: #dff0d8; // Green background for required questions
    }

    &.not-required {
      background-color: #f2dede; // Red background for not required questions
    }

    // Style for the initial state (no background color)
    &:not(.required):not(.not-required) {
      background-color: transparent; // or whatever the initial background color should be
    }
  }

  .add-question {
    margin-top: 20px;
    display: block; /* To make the button take the full width */
    width: 100%;
  }


  .next-button {
    margin-top: 20px;
    display: block; /* To make the button take the full width */
    width: 100%;
  }
}
