name: Deploy Backend

on:
  push:
    branches:
      - main
    paths:
      - 'code/Backend/**'
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: 22

      - name: Install Firebase CLI
        run: npm install -g firebase-tools

      - name: Authenticate with Firebase
        uses: google-github-actions/auth@v2
        with:
          credentials_json: ${{ secrets.FIREBASE_SERVICE_ACCOUNT }}

      - name: Install dependencies for functions
        run: |
          cd code/Backend/functions
          npm install
      - name: Set Artifact Registry Cleanup Policy
        run: |
          firebase functions:artifacts:setpolicy --project ${{ secrets.FIREBASE_PROJECT_ID }} --force

      - name: Deploy to Firebase Functions
        run: firebase deploy --only functions

      
